@import "@fontsource/noto-sans"; 
@import "@fontsource/noto-sans/400.css"; 
@import "@fontsource/noto-sans/400-italic.css";
body{
  background-color: #03152F;
}

.App {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #03152F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-inputfield{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25vw;
}

.main-input{
  height: 2vw;
  width: 40vw;
  border-radius: 3vw;
  font-size: medium;
  text-indent: 1vw;
}

.main-button{
  background-image: url('C:\Users\lecia\OneDrive\Documents\GitHub\contact-advice-\frontend\src\images\send.png');
  background-size: cover;
  width: 2vw;
  height: 2vw;
  border: none;
  cursor: pointer;
  border-radius: 0.7vw;
  margin-left: 0.7vw;
}

.main-text{
  margin-left: 41.5vw;
  margin-top: 15vw;
}

.main-data{
  align-self: flex-start;
}

/**Message**/
.message-title-parent{
  position: relative;
}

.message-title-bg {
  position: absolute;
  background-color: black;
  border-radius: 5vw;
  text-align: center;
  margin-top: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 30vw;
  padding: 20vw 44vw;
  z-index: 0;
}

.message-title{
  position: absolute;
  background-color: white;
  border-radius: 5vw;
  text-align: center;
  margin-top: 4vw;
  margin-left: 6vw;
  margin-right: 5vw;
  padding: 19vw 43vw;
  z-index: 1;
}

.message-header{
  position: absolute;
  background-color: #F2F1F6;
  color: black;
  margin-top: 4vw;
  z-index: 2;
  margin-left: 6vw; 
  padding: 2.5vw 43vw; 
  border-top-right-radius: 5vw;
  border-top-left-radius: 5vw;
  text-align: left;
}

.message p{
  font-family: "Noto Sans";
  position: absolute;
  margin-top: 6vw;
  z-index: 3;
  margin-left: 10vw; 
  text-align: left;
  z-index: 3;
  color: black;
}