@import "@fontsource/noto-sans"; 
@import "@fontsource/noto-sans/400.css"; 
@import "@fontsource/noto-sans/400-italic.css";

body{
  background-color: #03152F;
}

.App {
  color: white;
  background-image: url('./images/bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #03152F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-inputfield{
  margin-left: 12vw;
  margin-top: 8vw;
}

.main-input{
  height: 2vw;
  width: 40vw;
  border-radius: 3vw;
  font-size: medium;
  text-indent: 1vw;
}

.main-button{
  background-image: url('../src/images/send.png');
  background-size: cover;
  width: 2vw;
  height: 2vw;
  border: none;
  cursor: pointer;
  border-radius: 0.7vw;
  margin-left: 0.7vw;
}

.main-text{
  margin-left: 13vw;
  padding-top: 15vw;
}

.main-data{
  align-self: flex-start;
}
